headerbar.transparent {
  background: alpha(currentColor, 0);
  box-shadow: none;
}

scrolledwindow.headerbar-collision scrollbar {
  margin-top: 1.5em;
}

.invisible {
  opacity: 0;
}

.lozenge {
  padding: 20px;
  border-radius: 999em;
}

.lozenge.green {
  color: @green_1;
  background-color: alpha(@green_4, 0.25);
}

.lozenge.blue {
  color: @blue_1;
  background-color: alpha(@blue_5, 0.6);
}

label.h1 {
  font-weight: 900;
  font-size: large;
  margin-bottom: 12px;
}

