/* popover */
.documentchooser contents {
  padding: 0;
  margin: 0;
}

.documentchooser listview {
  margin-top: 0px;
}

.documentchooser .navigation-sidebar row {
  margin-left: 0;
  margin-right: 0;
  padding: 4px 8px 4px 16px;
}

.documentchooser .navigation-sidebar row:not(:first-child) {
  margin-top: 4px;
}

.documentchooser .navigation-sidebar row:active {
  background-color: alpha(currentColor, 0.05);
}

.documentchooser .file_name {
  font-size: medium;
}

.documentchooser .file_path {
  font-size: small;
}

.documentchooser .empty_page_content {
  margin: 16px;
}

.documentchooser .noresult_content {
  margin: 16px;
}

