.terminal {
  font-family: "monospace";
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
